---
import BaseLayout from '../layouts/BaseLayout.astro'
import Landing from '../components/Landing.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout
  title='GRAM Staking on TON | Hipo'
  description='Stake GRAM on TON blockchain with Hipo, the most profitable liquid staking protocol on TON. Earn the highest staking rewards while keeping your assets liquid.'
>
  <Header />

  <main class=''>
    <Landing />
  </main>

  <Footer />
</BaseLayout>
