---

---

<script src='/src/scripts/banner.js'></script>

<div id='site-banner' class='hidden'>
  <div class='fixed top-0 right-0 left-0 z-50 mx-auto max-w-5xl'>
    <div
      class='w-fiull border-c6 bg-c4 relative mx-4 my-4 flex flex-col-reverse items-start justify-items-end gap-0 rounded-2xl border px-4 py-2 md:flex-row md:items-center md:justify-between md:gap-4'
    >
      <div class='flex w-full flex-col items-center justify-between gap-2 md:flex-row'>
        <div class='text-c7'>
          <div class='flex flex-col items-center gap-1 md:hidden'>
            <div>
              💰 <b>Earn 100% of staking rewards</b>.
            </div>
            <div>Protocol fee is now 0%.</div>
          </div>
          <div class='max-md:hidden'>
            💰 <b>Earn 100% of staking rewards</b>. Protocol fee is now 0%.
          </div>
        </div>
        <div>
          <a href='http://t.me/HipoFinanceBot/join' target='_blank' rel='noopener noreferrer'>
            <button class='bg-c6 cursor-pointer rounded-xl px-8 py-2 text-white'>Earn Now</button>
          </a>
        </div>
      </div>
      <div class='absolute top-0 right-0 flex w-full flex-row justify-end md:static md:w-fit'>
        <button id='close-banner' class='text-c6 p-3 text-xs font-bold md:py-2'> ✕ </button>
      </div>
    </div>
  </div>
</div>
