<div>
  <script
    src="https://widgets.coingecko.com/gecko-coin-price-chart-widget.js"
    is:inline
  ></script>

  <gecko-coin-price-chart-widget
    coin-id={Astro.props.coin || "bitcoin"}
    locale="en"
    transparent-background="false"
    outlined="true"
    initial-currency="usd"
  >
  </gecko-coin-price-chart-widget>
</div>
