---
const siteUrl = new URL(import.meta.env.BASE_URL, Astro.site)
---

<header>
  <div class='from-darkblue1 to-darkblue2 mx-auto min-w-90 bg-radial bg-fixed py-4 text-center'>
    <div class='font-body dark:text-dark-50 bg-very-dark-navy mx-auto w-full max-w-5xl'>
      <div class='font-body text-brown dark:text-dark-50 mx-auto w-full'>
        <div class='from-darkblue1 to-darkblue2 min-w-90 bg-radial bg-fixed text-center'>
          <div class='mx-auto flex min-w-90 flex-row items-center sm:max-w-5xl'>
            <div class='mb-4 flex w-full flex-row items-center gap-4 px-4 py-4 md:py-8 lg:py-16'>
              <a href='https://hipo.finance/'>
                <img src='/images/hipo.svg' class='h-16 w-16' alt='Hipo Logo' />
              </a>
              <a href='https://hipo.finance/'>
                <div class='font-eczar text-2xl text-white'>Hipo</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
