---
import Banner from '../components/Banner.astro'
const siteUrl = new URL(import.meta.env.BASE_URL, Astro.site)
---

<header>
  <script src='/src/scripts/landing-menu.js'></script>

  <div class='bg-very-dark-navy mx-auto min-w-90 bg-fixed py-4 text-center md:py-8 lg:py-16'>
    <div class='font-body dark:text-dark-50 bg-very-dark-navy mx-auto w-full max-w-5xl'>
      <div class='mx-auto px-4 md:max-w-7xl'>
        <div class='flex w-full flex-row items-center'>
          {/* <!-- Logo --> */}
          <div class='flex flex-row items-center gap-2 pr-2'>
            <a href={siteUrl}>
              <img class='size-10 md:size-16' src='/images/hipo.svg' alt='Hipo Logo' />
            </a>
            <a href={siteUrl}>
              <div class='font-eczar text-xl text-white md:text-2xl'>Hipo</div>
            </a>
          </div>

          <nav class='flex grow flex-col items-end px-2 shadow-md'>
            <div class='text-bold flex flex-row md:mx-auto md:text-[18px]'>
              {/* <!-- Hamburger button (shown on mobile) --> */}
              <button id='menu-button' class='text-white focus:outline-none md:hidden' title='Toggle mobile menu'>
                <svg class='h-6 w-6' fill='none' stroke='currentColor' viewBox='0 0 24 24'>
                  <path d='M4 6h16M4 12h16M4 18h16'></path>
                </svg>
              </button>

              <ul id='menu' class='hidden space-x-6 pt-6 pb-2 font-bold md:flex'>
                <li>
                  <a href='/#how-it-works' class='hover:text-purple-500'> How it works </a>
                </li>
                <li>
                  <a href='/#audits' class='hover:text-purple-500'> Audits </a>
                </li>
                <li>
                  <a href='/#hpo' class='hover:text-purple-500'> HPO </a>
                </li>
                <li>
                  <a href='/#hipo-club' class='hover:text-purple-500'> Hipo Club </a>
                </li>
                <li>
                  <a href='/#why-hipo' class='hover:text-purple-500'> Why Hipo </a>
                </li>
                <li>
                  <a href='/faq' class='hover:text-purple-500'> FAQ </a>
                </li>
              </ul>
            </div>
          </nav>

          <div class='hidden md:block md:pl-2'>
            <a class='hipo-app-button-a' href='https://app.hipo.finance' target='_blank' rel='noopener noreferrer'>
              <div class='text-lg font-normal'>Go to App</div>
            </a>
          </div>
        </div>

        {/* <!-- Mobile menu (hidden by default) --> */}
        <div id='mobile-menu' class={'items-end px-4 pb-4 pt-2 text-end hidden'}>
          <ul class='space-y-2 text-white'>
            <li>
              <a id='menu-how-it-works' href='/#how-it-works' class='block hover:text-purple-500'> How it works </a>
            </li>
            <li id='menu-audits'>
              <a href='/#audits' class='block hover:text-purple-500'> Audits </a>
            </li>
            <li id='menu-hpo'>
              <a href='/#hpo' class='block hover:text-purple-500'> HPO </a>
            </li>
            <li id='menu-hipo-club'>
              <a href='/#hipo-club' class='block hover:text-purple-500'> Hipo Club </a>
            </li>
            <li id='menu-why-hipo'>
              <a href='/#why-hipo' class='block hover:text-purple-500'> Why Hipo </a>
            </li>
            <li id='menu-faq'>
              <a href='/faq' class='block hover:text-purple-500'> FAQ </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
