---
import GeckoChart from '../components/GeckoChart.astro'
---

<landing>
  <script src='/src/scripts/hpo-data.js'></script>

  <div class='font-body dark:text-dark-50'>
    <!-- Landing Page  -->
    <div class='bg-background mx-auto min-w-90 bg-fixed py-4 text-center md:py-8 lg:py-16'>
      <!-- Title -->
      <div class='hipo-section flex flex-col items-start gap-8 text-left md:max-w-5xl'>
        <!-- Mobile version -->
        <div class='sm:hidden'>
          <div class='flex flex-col items-start gap-6'>
            <div class='text-[32px] font-bold'>
              <h1>The #1 Most Profitable GRAM Staking on TON</h1>
            </div>
            <div class='mx-auto px-4'>
              <img class='size-64' src='/images/hipo-bank.webp' alt='Hipo Bank Illustration' />
            </div>
            <div class='text-lg'>
              <h2>
                Join
                <span class='text-purple9 font-bold'>23,000+</span> GRAM holders earning passive income with Hipo
              </h2>
            </div>
            <div class='hipo-button-div'>
              <a class='hipo-button-a' href='https://app.hipo.finance/#/' target='_blank' rel='noopener noreferrer'>
                <div class='hipo-button-label'>Stake Now</div>
              </a>
            </div>
          </div>
        </div>

        <!-- Desktop version -->
        <div class='hidden sm:visible sm:flex sm:flex-row'>
          <div class='flex w-1/2 flex-col items-start gap-6'>
            <div class='mb-16 text-[48px] leading-tight font-bold md:text-[64px]'>
              <div>The #1 Most Profitable GRAM Staking on TON</div>
            </div>
            <div class='text-[20px] font-normal md:text-[24px]'>
              <h2>
                Join
                <span class='text-purple9 font-bold'>23,000+</span> GRAM holders earning passive income with Hipo
              </h2>
            </div>
            <div class='hipo-button-div'>
              <a class='hipo-button-a' href='https://app.hipo.finance/#/' target='_blank' rel='noopener noreferrer'>
                <div class='hipo-button-label'>Stake Now</div>
              </a>
            </div>
          </div>
          <div class='w-1/2'>
            <div class='mx-auto px-4'>
              <img class='size-full' src='/images/hipo-bank.webp' alt='Hipo Bank Illustration' />
            </div>
          </div>
        </div>
      </div>

      <!-- Highlights -->
      <div class='hipo-section w-full min-w-70 text-sm font-bold md:max-w-5xl md:text-lg'>
        <div class='border-darkblue5 from-darkblue4 to-darkblue3 rounded-2xl border bg-linear-to-t p-2'>
          <div class='mx-auto flex w-full flex-row bg-[url(/images/dots.svg)] py-6'>
            <div class='mx-auto flex w-2/7 flex-col items-center gap-4'>
              <img src='/images/shild.svg' class='size-10' alt='Security Shield Icon' />
              <p>Audited</p>
            </div>
            <div class='mx-auto flex w-2/7 flex-col items-center gap-4'>
              <img src='/images/lockup.svg' class='size-10' alt='No Lockup Icon' />
              <p>No Lockup</p>
            </div>
            <div class='mx-auto flex w-2/7 flex-col items-center gap-4'>
              <img src='/images/star-shine.svg' class='size-10' alt='Top Rewards Icon' />
              <p>Top Rewards</p>
            </div>
          </div>
        </div>
      </div>

      <!-- How Hipo works -->
      <div id='how-it-works' class='hipo-section flex flex-col items-center text-center md:max-w-5xl'>
        <h3 class='hipo-section-title'>How Hipo works</h3>
        <div class='hipo-section-summary'>
          <p>Stake any amount of GRAM and</p>
          <p>earn more than just staking rewards!</p>
        </div>

        <div class='hipo-cards-list'>
          <div class='hipo-how-it-works-card'>
            <div class='hipo-how-it-works-card-bg'>
              <div class='hipo-how-it-works-card-template'>
                <div class='hipo-how-it-works-card-title w-full'>1. Stake GRAM</div>
                <div class='hipo-how-it-works-card-text w-full grow pb-4'>
                  Deposit your GRAM into Hipo to earn the highest staking rewards in the market.
                </div>
                <div class='mx-auto'>
                  <img class='size-16 lg:size-28' src='/images/gram-3d.svg' alt='GRAM Token Icon' />
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-how-it-works-card'>
            <div class='hipo-how-it-works-card-bg'>
              <div class='hipo-how-it-works-card-template'>
                <div class='hipo-how-it-works-card-title w-full'>2. Get Liquid hGRAM</div>
                <div class='hipo-how-it-works-card-text w-full grow pb-4'>
                  Get hGRAM representing your staked GRAM. Its value grows as staking rewards accumulate, and you can
                  use it across DeFi.
                </div>
                <div class='mx-auto'>
                  <img class='size-16 lg:size-28' src='/images/hgram-3d.svg' alt='hGRAM Token Icon' />
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-how-it-works-card'>
            <div class='hipo-how-it-works-card-bg'>
              <div class='hipo-how-it-works-card-template'>
                <div class='hipo-how-it-works-card-title w-full'>3. Earn Bonus HPO</div>
                <div class='hipo-how-it-works-card-text w-full grow pb-4'>
                  Enjoy extra rewards in HPO — Hipo&apos;s governance and profit-sharing token.
                </div>
                <div class='mx-auto'>
                  <img class='size-16 lg:size-28' src='/images/hpo.svg' alt='HPO Token Icon' />
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-how-it-works-card'>
            <div class='hipo-how-it-works-card-bg'>
              <div class='hipo-how-it-works-card-template'>
                <div class='hipo-how-it-works-card-title w-full'>4. Unstake Anytime</div>
                <div class='hipo-how-it-works-card-text w-full grow pb-4'>
                  Return your hGRAM whenever you want. You&apos;ll receive GRAM plus your accumulated staking rewards.
                </div>
                <div class='mx-auto'>
                  <div class='flex flex-row items-center gap-4 text-3xl'>
                    <img class='size-16 lg:size-28' src='/images/gram-3d.svg' alt='TON Token Icon' />+
                    <div class='flex flex-row items-center gap-2'>
                      <img class='size-10 lg:size-16' src='/images/gram-3d.svg' alt='TON Token Icon' />
                      <img class='size-10 lg:size-16' src='/images/gram-3d.svg' alt='TON Token Icon' />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Hipo Security Audits -->
      <div id='audits' class='hipo-section flex w-full flex-col items-center text-center md:max-w-5xl'>
        <h3 class='hipo-section-title'>Hipo Security Audits</h3>
        <div class='hipo-section-summary'>
          <p>One of the most rigorously tested smart contracts in the GRAM ecosystem</p>
        </div>

        <div class='hipo-cards-list'>
          <div class='hipo-audits-card'>
            <div class='hipo-audits-card-bg'>
              <div class='hipo-audits-card-template'>
                <div class='mb-6 flex flex-row items-center gap-1 font-bold'>
                  <img class='size-4' src='/images/quantstamp.svg' alt='Quantstamp Logo' />
                  Quantstamp
                </div>
                <div class='mb-8 flex flex-col gap-4 text-start'>
                  <div>Hipo v2 Smart Contract Audit</div>
                  <div class='text-[18px] text-white/50'>Apr 2025</div>
                </div>
                <div class='hipo-see-report-link-text'>
                  <a
                    href='https://github.com/HipoFinance/audits?tab=readme-ov-file#2025-04-quantstamp-hipo-audit-report'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    See Report →
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-audits-card'>
            <div class='hipo-audits-card-bg'>
              <div class='hipo-audits-card-template'>
                <div class='mb-6 flex flex-row items-center gap-1 font-bold'>
                  <div
                    class='flex size-6 items-center justify-center rounded-full bg-linear-to-t from-green-900 to-green-500 text-xs font-light'
                  >
                    ET
                  </div>
                  Ender Ting
                </div>
                <div class='mb-8 flex flex-col gap-4 text-start'>
                  <div>Hipo v2 Smart Contract Audit</div>
                  <div class='text-[18px] text-white/50'>March 2024</div>
                </div>
                <div class='hipo-see-report-link-text'>
                  <a
                    href='https://github.com/HipoFinance/audits?tab=readme-ov-file#2024-03-programcrafter-hipo-audit-report'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    See Report →
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-audits-card'>
            <div class='hipo-audits-card-bg'>
              <div class='hipo-audits-card-template'>
                <div class='mb-6 flex flex-row items-center gap-1 font-bold'>
                  <img class='size-4' src='/images/tontech.svg' alt='TonTech Logo' />
                  TonTech
                </div>
                <div class='mb-8 flex flex-col gap-4 text-start'>
                  <div>Hipo v1 Smart Contract Audit</div>
                  <div class='text-[18px] text-white/50'>Oct 2023</div>
                </div>
                <div class='hipo-see-report-link-text'>
                  <a
                    href='https://github.com/HipoFinance/audits#2023-10-tontech-hipo-audit-report'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    See Report →
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class='hipo-audits-card'>
            <div class='hipo-audits-card-bg'>
              <div class='hipo-audits-card-template'>
                <div class='mb-6 flex flex-row items-center gap-1 font-bold'>
                  <div
                    class='flex size-6 items-center justify-center rounded-full bg-linear-to-t from-blue-900 to-blue-500 text-xs font-light'
                  >
                    DS
                  </div>
                  Daniil Sedov
                </div>
                <div class='mb-8 flex flex-col gap-4 text-start'>
                  <div>Hipo v1 Smart Contract Audit</div>
                  <div class='text-[18px] text-white/50'>Oct 2023</div>
                </div>
                <div class='hipo-see-report-link-text'>
                  <a
                    target='_blank'
                    rel='noopener noreferrer'
                    href='https://github.com/HipoFinance/audits#2023-10-daniil-sedov-hipo-audit-report'
                  >
                    See Report →
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- HPO  -->
      <div id='hpo' class='hipo-section flex flex-col items-center gap-8 text-center md:max-w-5xl'>
        <h3 class='hipo-section-title'>HPO</h3>
        <div class='hipo-section-summary'>
          <p>Hipo&apos;s Governance and Profit-Sharing Token!</p>
        </div>
        <div class='flex flex-row flex-wrap gap-2'>
          <div class='mx-auto mb-8 max-w-xl sm:w-5/12'>
            <div class='flex flex-auto flex-col items-center'>
              <div class='mb-4 w-full'>
                <GeckoChart coin='hipo-governance-token' />
              </div>
              <div class='flex w-full flex-row justify-between gap-2 text-sm'>
                <div class='flax-auto space-x-1'>
                  <span class='font-normal'>Market Cap.:</span>
                  <span id='hpoMarketCap' class='text-xl font-bold'>
                    <!-- {model.getMarketCap} -->
                  </span>
                </div>
                <div class='flax-auto space-x-1'>
                  <span class='font-normal'>Volume:</span>
                  <span id='hpoVolume' class='text-xl font-bold'>
                    <!-- {model.getTotalVolume} -->
                  </span>
                </div>
                <div class='flax-auto space-x-1'>
                  <span class='font-normal'>Holders:</span>
                  <span id='hpoHolders' class='text-xl font-bold'>
                    <!-- {model.getHoldersCount} -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class='mx-auto sm:w-5/12'>
            <div class='flex w-full flex-col items-start gap-6 px-2 text-start'>
              <div class='hipo-section-text'>Become an HPO holder for revenue-sharing and decision-making in Hipo.</div>
              <div class='hipo-learn-more-link-text'>
                <a href='https://hpo.hipo.finance/'>Learn More</a>
              </div>
              <div class='hipo-button-div'>
                <a
                  class='hipo-button-a'
                  href='https://app.ston.fi/swap?chartVisible=false&ft=TON&tt=HPO'
                  target='_blank'
                  rel='noopener noreferrer'
                >
                  <div class='hipo-button-label'>Buy HPO</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Hipo Club -->
      <div id='hipo-club' class='hipo-section-side-touched from-darkblue4 to-darkblue3 bg-linear-to-t'>
        <div
          class='flex flex-col items-center gap-8 bg-[url(/images/mesh.png)] bg-contain bg-top-left bg-no-repeat px-8 py-16 text-center md:px-36'
        >
          <h3 class='hipo-section-title'>Hipo Club</h3>
          <div class='hipo-section-summary'>
            <p>Community of Hipo Believers</p>
          </div>
          <div class='flex flex-row flex-wrap items-center gap-4'>
            <div class='mx-auto mb-8 items-center sm:w-5/12'>
              <img class='mx-auto size-24 sm:size-36 md:size-48' src='/images/hpo.svg' alt='Hipo Logo' />
            </div>
            <div class='mx-auto sm:w-5/12'>
              <div class='flex w-full flex-col items-start gap-6 px-2 text-start'>
                <div class='hipo-section-text'>
                  Earn HPO by staking in Hipo, and become part of the Hipo community of HPO holders.
                </div>
                <div class='hipo-learn-more-link-text'>
                  <a href='https://docs.hipo.finance/giveaways-and-prizes/hipo-club'>Learn More</a>
                </div>
                <div class='hipo-button-div'>
                  <a
                    class='hipo-button-a'
                    href='http://t.me/HipoFinanceBot/join'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    <div class='hipo-button-label'>Join Hipo Club</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Why Hipo? -->
      <div id='why-hipo' class='hipo-section flex w-full flex-col items-center text-center'>
        <h3 class='hipo-section-title'>Why Hipo?</h3>
        <div class='hipo-section-summary mb-10'>
          <p>Building the Future of GRAM Staking, Together!</p>
        </div>

        <div class='hipo-cards-list'>
          <div class='hipo-why-hipo-card'>
            <div class='hipo-why-hipo-card-bg'>
              <div class='flex w-full flex-row items-center gap-2'>
                <div class='hipo-why-hipo-card-title w-full'>Highest APY</div>
                <img class='size-10 md:size-16' src='/images/graph.png' alt='Growth Graph Icon' />
              </div>
              <div class='hipo-why-hipo-card-text w-full pb-4'>Earn the most competitive staking rewards on GRAM.</div>
            </div>
          </div>

          <div class='hipo-why-hipo-card'>
            <div class='hipo-why-hipo-card-bg'>
              <div class='flex w-full flex-row items-center gap-2'>
                <div class='hipo-why-hipo-card-title w-full'>Community-Driven</div>
                <img class='size-10 md:size-16' src='/images/heart-shine.svg' alt='Community Heart Icon' />
              </div>
              <div class='hipo-why-hipo-card-text w-full pb-4'>Hipo is built with and for the community.</div>
              <!-- Workaround to stretch the grid cell. It's not a proper way, but used to avoid more time wast! -->
              <div class='hipo-why-hipo-card-text invisible h-1 w-full pb-4'>
                Dumy and invisible long long long long long long long enigh text.
              </div>
            </div>
          </div>

          <div class='hipo-why-hipo-card'>
            <div class='hipo-why-hipo-card-bg'>
              <div class='flex w-full flex-row items-center gap-2'>
                <div class='hipo-why-hipo-card-title w-full'>Open-Source & Audited</div>
                <img class='size-10 md:size-16' src='/images/audit-shield.svg' alt='Audit Shield Icon' />
              </div>
              <div class='hipo-why-hipo-card-text w-full pb-4'>
                One of the most rigorously tested smart contracts on TON.
              </div>
            </div>
          </div>

          <div class='hipo-why-hipo-card'>
            <div class='hipo-why-hipo-card-bg'>
              <div class='flex w-full flex-row items-center gap-2'>
                <div class='hipo-why-hipo-card-title w-full'>Truly Decentralized</div>
                <img class='size-10 md:size-16' src='/images/decentralized.svg' alt='Decentralized Icon' />
              </div>
              <div class='hipo-why-hipo-card-text w-full pb-4'>Fully DeFi-native and permissionless by design.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</landing>
