---
import Layout from '../../layouts/HpoLayout.astro'
import Landing from '../../components/Hpo.astro'
import Header from '../../components/HpoHeader.astro'
import Footer from '../../components/HpoFooter.astro'
import Banner from '../../components/Banner.astro'
---

<Layout
  title='GRAM Staking on TON | Hipo'
  description='Stake GRAM on TON blockchain with Hipo, the most profitable liquid staking protocol on TON. Earn the highest staking rewards while keeping your assets liquid.'
>
  <Banner />

  <Header />

  <main class=''>
    <Landing />
  </main>

  <Footer />
</Layout>
