---
import '../styles/global.css'
import '../styles/app.css'
import SEO from '../components/SEO.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: { title },
  url: 'https://hipo.finance/app',
  description: { description },
  publisher: {
    '@type': 'Organization',
    name: 'Hipo',
    logo: {
      '@type': 'ImageObject',
      url: 'https://hipo.finance/hipo.svg',
    },
  },
}
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />

    <SEO title={title} description={description} jsonLd={jsonLd} />

    <link rel='icon' href={`${import.meta.env.BASE_URL}favicon.ico`} />

    <script is:inline>
      ;(() => {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      })()
    </script>
  </head>

  <body class='bg-milky font-poppins text-gray1'>
    <script async src='https://tganalytics.xyz/index.js' type='text/javascript' is:inline></script>
    <script>
      window.addEventListener('load', function () {
        if (location.host === 'hipo.finance' && window.telegramAnalytics) {
          window.telegramAnalytics.init({
            token:
              'eyJhcHBfbmFtZSI6IkhpcG9GaW5hbmNlIiwiYXBwX3VybCI6Imh0dHBzOi8vdC5tZS9IaXBvRmluYW5jZUJvdCIsImFwcF9kb21haW4iOiJodHRwczovL2FwcC5oaXBvLmZpbmFuY2UifQ==!E4pxUC4Gw7gYJ/OLjvBnyB3xdqnfZd96quHuM0hwQEY=',
            appName: 'HipoFinance',
          })
        }
      })
    </script>

    <slot />
  </body>
</html>
